.navButtons {
    display: inline-block;
    background-color: aliceblue;
    font-size: 16pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blueviolet;
    padding: 8px 16px 8px 16px;
    margin: 0;
    margin-right: 1px;
}

.body {
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 29%;
    float: left;
    height: 1200px;
    background-color: aquamarine;
}

.maincontent {
    width: 70%;
    height: 1200px;
    background-color: azure;
}
.floatimage {
    float: left;
}
.profileContainer {
    height: 400px;
    width: 29%;
    text-align: center;
    
}
.left {
    float: left;
}
.statsContainer {
    background-color: blueviolet;
    height: 800px;
    text-align: center;
}